.container{
    background-color: var(--c-primary);
    width: 420px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    color: black;
    overflow-x: auto;
    overflow-y: auto;
    order: 3;

    @media screen and (max-height: 960px) {
        margin-top: 30px;
    }
    @media screen and (max-width: 864px) {
        max-width: 275px;
        height: 300px;
    }
    @media screen and (max-width: 320px) {
        max-width: 230px;
    }

    table{
        font-size: 1.5rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        

        @media screen and (max-width: 864px) {
            font-size: 0.9rem;
        }


        th{
            padding: 20px;
            color: var(--c-secondary);
            font-style: italic;
            @media screen and (max-width: 320px) {
                padding: 5px;
                width: 5px;
            }
        }
        
        tbody{

            
            .delete{
                vertical-align: middle;
                color: red;
                cursor: pointer;
            }

           
        }
    }
    

    

}

