.container{
    background-color: var(--c-primary);
    width: 420px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    color: black;
    overflow-y: auto;
    order: 3;

    @media screen and (max-height: 960px) {
        margin-top: 30px;
    }
    @media screen and (max-width: 864px) {
        max-width: 250px;
        height: 300px;
    }

    table{
        font-size: 1.5rem;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;


        th{
            padding: 20px;
            color: var(--c-secondary);
            font-style: italic;
        }
        
        
    }
    

    

}

