
@import 'variable.css';

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  flex-direction: column;
  
 
  
}

body{
  background: var(--c-background);
  color: var(--c-primary);
}

