.App {
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    height: 100vh;
  }
  @media screen and (max-width: 1024px)and(min-width: 768px) {
    height: 100vh;
  }
  
}
