:root{
    --c-primary: #D6E1EF;
    --c-secondary: linear-gradient(303.77deg, #2C333A -71.57%, #1C1E22 59.28%, #121416 59.28%);
    --bg-textarea: linear-gradient(303.77deg, #2C333A -51.57%, #1C1E22 20.28%, #121416 59.28%);
    --bs-button: -4px -2px 16px rgba(255, 255, 255, 0.109), 4px 4px 18px rgba(0, 0, 0, 0.5);
    --bs-button-active: inset -2px -2px 10px rgba(255, 255, 255, 0.05), inset 2px 3px 10px #070709;
}